<div class="container">
    <div class="row">
        <div class="col">
            <h2>Agregar Novedades</h2>
                <div class="mb-3">
                    <input type="text" class="form-control" id="titulo" placeholder="Titulo" name="titulo">
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>