    <main class="contenedor">
        <div class="contacto">
            <h2>Contacto Rápido</h2>
            <form action="/contacto" method="post" class="formulario">
                <p>
                    <label for="">Nombre</label>
                    <input type="text" name="nombre">
                </p>
                <p>
                    <label for="">Email</label>
                    <input type="text" name="email">
                </p>
                <p>
                    <label for="">Teléfono</label>
                    <input type="text" name="telefono">
                </p>
                <p>
                    <label for="">Comentarios</label>
                    <textarea name="comentarios"></textarea>
                </p>
                <p class="centrar">
                    <input type="submit" value="Enviar">
                </p>
            </form>
            <p>{{enviado}}</p>
        </div>
        <div class="redes">
            <h2>Otras vias de Contacto</h2>
            <p>Tambien pueden contactarse con nosotros usando los siguientes medios</p>
            <ul>
                <li>Telefono= 12345678</li>
                <li>Facebook= asdasdasd</li>
                <li>Twitter= asdasdasd</li>
                <li>Instagram= asdasdasd</li>
            </ul>
            <div>
                <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d821.0568142024812!2d-58.42001564011343!3d-34.598414479627664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb666703c59f%3A0x6f9fd2b57bacdcac!2s%C3%81rea%20de%20Desarrollo%20Profesional%20-%20Pasant%C3%ADas!5e0!3m2!1ses-419!2sar!4v1642803365235!5m2!1ses-419!2sar"></iframe>
            </div>
        </div>
    </main>