<main class="contenedor">
        <div class="historia">
            <h2>Historia</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dignissimos nulla eligendi mollitia laborum
                harum aperiam praesentium aspernatur doloribus veritatis. Id eius, provident architecto molestias quis
                odit maiores. Sunt, ducimus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi veritatis,
                harum quidem omnis optio assumenda! Natus voluptate vero delectus enim velit quam illum aliquam, modi
                incidunt corrupti voluptatibus reprehenderit iusto.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque in eveniet odio quisquam, fugit
                quasi? Voluptatibus nesciunt, velit et dicta repellat illo. Assumenda, explicabo est. Quidem porro
                facilis consequuntur doloremque? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel placeat
                ex, voluptas facilis magnam maiores facere eum animi modi fugit? Eos labore vitae error vel qui
                inventore sunt earum commodi!</p>
        </div>
        <div class="personal">
            <h2>Staff</h2>
            <div class="personas">
                <div class="persona">
                    <img src="images/nosotros/nosotros1.jpg" alt=""></img>
                    <h5>Juan Gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente adipisci dicta totam ex velit, illum exercitationem fuga deserunt amet odit minus, harum odio porro enim? Iste, hic! Quis, repellendus libero.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros2.jpg" alt=""></img>
                    <h5>Diana Reyes</h5>
                    <h6>Gerente Comercial</h6>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam similique expedita asperiores excepturi doloribus vero perferendis labore accusamus, libero necessitatibus, ad quas provident maiores voluptate! Amet, molestiae fugit? Accusantium, illo.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros3.jpg" alt=""></img>
                    <h5>Roberto Zavala</h5>
                    <h6>Gerente de Sistemas</h6>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, exercitationem excepturi incidunt obcaecati temporibus veritatis explicabo minus omnis quam facilis aliquam saepe totam mollitia eius? Quae architecto molestias magni doloremque.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros4.jpg" alt=""></img>
                    <h5>Sandra Mastroloi</h5>
                    <h6>Gerente de Marketing</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque qui nobis, quia quaerat molestiae beatae magni, sequi facere incidunt placeat atque vitae blanditiis assumenda ab quae tempora iure sed error.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros5.jpg" alt=""></img>
                    <h5>Luciano Gomez</h5>
                    <h6>Gerente de Logistica</h6>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae iusto, iste perspiciatis corporis fugit asperiores autem tempore expedita quisquam distinctio voluptatibus veniam tenetur cupiditate a ipsa temporibus maxime laborum animi.</p>
                </div>
            </div>
        </div>
    </main>