<main class="contenedor">
        <h2>Servicios</h2>
        <div class="servicio">
            <img src="images/servicios/aereo.jpg" alt="Aereo">
            <div class="info">
                <h3>Tranporte Aereo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur qui aliquid doloremque eveniet
                    eligendi illum expedita, sequi quibusdam iste ratione, modi velit minus. Incidunt, modi eveniet
                    officia dicta laborum rerum!</p>
            </div>
        </div>
        <div class="servicio">
            <img src="images/servicios/ferroviario.jpg" alt="Ferrioaviario">
            <div class="info">
                <h3>Tranporte Ferrioviario</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci obcaecati ducimus exercitationem!
                    Odio asperiores neque nemo temporibus incidunt numquam sequi enim provident in! Dolore rem
                    praesentium soluta maxime temporibus quibusdam!</p>
            </div>
        </div>
        <div class="servicio">
            <img src="images/servicios/maritimo.jpg" alt="Maritimo">
            <div class="info">
                <h3>Tranporte Maritimo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quod non doloribus animi,
                    repellendus laudantium nam ducimus at ipsum blanditiis laboriosam provident quos consectetur eius
                    voluptatum explicabo maxime excepturi eum?</p>
            </div>
        </div>
        <div class="servicio">
            <img src="images/servicios/terrestre.jpg" alt="Terrestre">
            <div class="info">
                <h3>Tranporte Terrestre</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quod eos, voluptatibus consequuntur
                    cumque asperiores doloremque? Quae, vitae amet? Consequuntur itaque illum tempora odio qui a
                    veritatis assumenda culpa nulla.</p>
            </div>
        </div>
    </main>